html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}

.text-bold {
  font-weight: bold;
}

.whitespace-pre {
  white-space: pre;
}

.align-right {
  text-align: right;
}
.w-100 {
  width: 100%;
}
.align-left {
  text-align: left;
}

@media print {
  .screen-only {
    display: none;
  }
}

@media screen {
  #page-container {
    max-width: 1000px;
    margin: 20px auto 0;
  }

  .print-only {
    display: none;
  }
}
